.flex{
  display: flex;
  flex-direction:row ;
}

.banner {
  top: 60px;
  left: 50px;
  width: 150px;
  font-family: 'Assistant', sans-serif;
  position: fixed;
  display: flex;
  flex-direction: column;
}

.headwrap {
  display: block;
  width: 220px;
}

h1 {
  margin-top: 5px;
  margin-bottom: 50px;
}
a {
  margin: 5px;
  text-decoration: none;
  color: black;
}

#headwrapper {
  width: 220px;
}

.photos {
  margin-top: 50px;
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#column {
  display: flex;
  flex-direction: column;
  width: 33%;
}

img {
  max-width: 100%;
  height: auto;
  padding: 5px;
  pointer-events: none;
}

.top {
  display: none;
}

@media only screen and (max-width: 600px) {
  .flex {
    flex-direction: column;
  }
  .headwrap {
    display: block;
    width: 100%;
  }

  .banner {
    position: initial;
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 25px;
  }

  #headwrapper {
    display: block;
    width: 100%;
  }
  .photos {
    display: block;
    width: 100%;
    margin-top: 30px;
  }

  #column {
    width: 100%;
  }

  h1 {
    margin-bottom: 25px;
  }

  .top {
    display: flex;
    justify-content: center;
    height: 50px;
    font-size: 50px;
    margin-bottom: 25px;
  }

}



